@model TempLaboClini.UIWeb.Models.SolicitudExamenViewModel
@{
    ViewData["Title"] = "Crear Solicitud de Examen";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CrearSolicitudExamen" method="post">
    <div class="form-group">
        <label asp-for="PacienteNroIdentificacion" class="control-label"></label>
        <input asp-for="PacienteNroIdentificacion" class="form-control" />
        <span asp-validation-for="PacienteNroIdentificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AseguradoraId" class="control-label"></label>
        <input asp-for="AseguradoraId" class="form-control" />
        <span asp-validation-for="AseguradoraId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MedicoId" class="control-label"></label>
        <input asp-for="MedicoId" class="form-control" />
        <span asp-validation-for="MedicoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NroRegistro" class="control-label"></label>
        <input asp-for="NroRegistro" class="form-control" />
        <span asp-validation-for="NroRegistro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IngresoPor" class="control-label"></label>
        <input asp-for="IngresoPor" class="form-control" />
        <span asp-validation-for="IngresoPor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaSolicitud" class="control-label"></label>
        <input asp-for="FechaSolicitud" class="form-control" />
        <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Solicitud</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
